:root {
  --color-experimental-blue: #395a8c;
  --color-experimental-gray: #eeeeee;
  --color-experimental-green: #b2fe8e;
  --header-height: 70px;
  --max-width: 1000px;
  --section-padding-horiz: 200px;
}
