:root {
  --color-experimental-blue: #395a8c;
  --color-experimental-gray: #eeeeee;
  --color-experimental-yellow: #fdfebc;
  --header-height: 70px;
  --footer-height: 120px;
  --max-width: 1000px;
  --section-padding-horiz: 200px;
}
