@import "../../styles/variables.css";

.emphasis {
  height: 10px;
  width: 80px;
  background-color: var(--color-experimental-blue);
}

@media only screen and (max-width: 768px) {
  .emphasis {
    height: 8px;
    width: 50px;
  }
}
