@import "../../styles/variables.css";

.layout {
  position: relative;
  padding-bottom: var(--footer-height);
  min-height: calc(100vh - var(--footer-height));
}

.content {
  padding-top: 50px;
}

@media only screen and (max-width: 768px) {
  .layout {
    padding-bottom: 200px;
    min-height: calc(100vh - 200px);
  }

  .content {
    padding-top: 10px;
  }
}
