@import "../../styles/variables.css";

.divider {
  width: 100%;
  height: 10vw;
  display: block;
  fill: var(--color-experimental-gray);
}

.alt {
  background-color: var(--color-experimental-gray);
  fill: white;
}
