.horiz {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 60px 0 180px 0;
}

.featureArt {
  width: 450px;
  margin-right: 50px;
}

.featureText {
  font-family: "Alegreya Sans", sans-serif;
  font-weight: bold;
  font-size: 70px;
  margin: 0;
  background: linear-gradient(
      to right,
      rgb(255, 255, 255) 0%,
      rgb(255, 255, 255) 5%,
      rgba(255, 255, 255, 0) 5%
    ),
    linear-gradient(
      180deg,
      rgba(255, 255, 255, 0) 55%,
      var(--color-experimental-yellow) 50%
    );
}

.text1 {
  width: 280px;
}

.text2 {
  width: 325px;
}

.text3 {
  width: 190px;
}

.featureQuote {
  font-weight: 400;
  font-style: italic;
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  margin: 20px 0;
}

@media only screen and (max-width: 768px) {
  .horiz {
    display: block;
    text-align: center;
    margin: 0;
  }
  .featureArt {
    width: 100%;
    margin: 0;
    max-width: 400px;
  }
  .textContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
  }
  .featureText {
    font-size: 50px;
    background: linear-gradient(
        to right,
        rgb(255, 255, 255) 0%,
        rgb(255, 255, 255) 10%,
        rgba(255, 255, 255, 0) 10%
      ),
      linear-gradient(
        180deg,
        rgba(255, 255, 255, 0) 55%,
        var(--color-experimental-yellow) 50%
      );
  }
  .text1 {
    width: 210px;
  }
  .text2 {
    width: 250px;
  }
  .text3 {
    width: 140px;
  }

  .featureQuote {
    font-size: 20px;
    margin: 40px 0 5px 0;
  }
}
