@import "../../styles/variables.css";

.header {
  height: var(--header-height);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.link {
  color: black;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  text-decoration: none;
  line-height: var(--header-height);
  margin-right: var(--header-height);
}

.active {
  font-style: italic;
}

@media only screen and (max-width: 768px) {
  .header {
    display: block;
    text-align: center;
    height: auto;
  }

  .links {
    display: flex;
    flex-direction: row;
  }

  .link {
    flex: 1;
    line-height: normal;
    margin-right: 0;
    font-size: 15px;
  }
}
