@import "../../styles/variables.css";

.section {
  padding: 20px 100px;
  overflow: auto;
}

.alt {
  background-color: var(--color-experimental-gray);
}

.content {
  max-width: 800px;
  margin: auto;
}
