@import "../../styles/variables.css";

.section {
  padding: 20px var(--section-padding-horiz);
  overflow: auto;
}

.alt {
  background-color: var(--color-experimental-gray);
}

.content {
  max-width: var(--max-width);
  margin: auto;
}

@media only screen and (max-width: 768px) {
  .section {
    padding: 20px 40px;
  }
}
