@import "../../styles/variables.css";

.footer {
  background-color: var(--color-experimental-blue);
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 120px;
  margin: auto;
  max-width: calc(var(--max-width) + 2 * var(--section-padding-horiz));
}

.socials {
  display: flex;
  align-items: center;
  padding: 20px;
  width: 160px;
}

.social {
  margin-left: 20px;
}

.logoContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.logo {
  margin-top: -18px;
}

.copyright {
  margin-top: -8px;
  color: white;
  font-size: 12px;
  font-family: "Raleway", sans-serif;
  text-align: center;
}

.links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  width: 160px;
  padding-right: 40px;
}

.link {
  text-decoration: none;
  color: white;
  margin: 4px;
}
