@import "../../styles/variables.css";

.footer {
  background-color: var(--color-experimental-blue);
  position: absolute;
  bottom: 0;
  width: 100%;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: var(--footer-height);
  margin: auto;
  max-width: calc(var(--max-width) + 2 * var(--section-padding-horiz));
}

.socials {
  display: flex;
  align-items: center;
  padding: 20px;
  width: 160px;
}

.social {
  margin-left: 20px;
}

.logoContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.logo {
  margin-top: -18px;
}

.copyright {
  margin-top: -8px;
  color: white;
  font-size: 12px;
  font-family: "Raleway", sans-serif;
  text-align: center;
}

.links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  width: 160px;
  padding-right: 40px;
}

.link {
  text-decoration: none;
  color: white;
  margin: 4px;
}

.mobileInfo {
  display: none;
}

@media only screen and (max-width: 768px) {
  .content {
    flex-direction: column;
    height: auto;
  }

  .logoContainer {
    display: block;
    text-align: center;
  }

  .logo {
    margin: 0;
  }

  .socials {
    display: none;
  }

  .links {
    display: none;
  }

  .mobileInfo {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    margin: 15px 0 30px 0;
  }

  .mobileSocials {
    flex: 1;
  }
  .mobileLinks {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
}
